:root {
  --vae-link-primary-color: var(--van-primary-color);
  --vae-link-success-color: var(--van-success-color);
  --vae-link-warning-color: var(--van-warning-color);
  --vae-link-danger-color: var(--van-danger-color);
  --vae-link-disabled-opacity: var(--van-disabled-opacity);
  --vae-link-font-size: var(--van-font-size-md);
}

.vae-link {
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: var(--vae-link-font-size);
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  outline: none;

  &--underline-always {
    text-decoration: underline;
  }

  &--underline-hover {
    &:hover {
      text-decoration: underline;
    }
  }

  &--default {
    color: inherit;
  }

  &--primary {
    color: var(--vae-link-primary-color);
  }

  &--success {
    color: var(--vae-link-success-color);
  }

  &--warning {
    color: var(--vae-link-warning-color);
  }

  &--danger {
    color: var(--vae-link-danger-color);
  }

  &--disabled {
    cursor: not-allowed;
    opacity: var(--vae-link-disabled-opacity);
  }
}
