.theme-default-content {
  table {
    display: table;
    width: 100%;

    th,
    td {
      max-width: 250px;
      text-align: left;
      white-space: nowrap;
    }
  }

  .code-demo {
    h2 {
      border-bottom: none;
    }
  }

  .vae-descriptions {
    table {
      margin: 0;

      tr,
      th,
      td {
        background: transparent;
        border: none;
      }
    }
  }
}
